@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --new-primary: #B3001B;
    --new-primary-dark:  #931F1D;
    --new-blue-light: #3977a4;
    --new-blue-dark: #2A324B;
    --new-light: #E1E5EE;
    --bs-light-rgb: 225, 229, 238;
    --bs-font-sans-serif: 'Poppins', sans-serif;
}

/* Headings */

.heading-1{
    font-size: 2rem;
    font-size: min(max(2rem,4vw), 5rem);
    font-size: clamp(2rem,4vw,5rem);
}

.heading-2{
    font-size: 1.75rem;
    font-size: min(max(1.75rem,3vw), 3rem);
    font-size: clamp(1.75rem,3vw, 3rem);
}

.heading-3{
    font-size: 1.5rem;
    font-size: min(max(1.5rem,2.5vw), 2.75rem);
    font-size: clamp(1.5rem,2.5vw, 2.75rem);
}

.heading-4{
    font-size: 1rem;
    font-size: min(max(1rem,1.5vw), 1.75rem);
    font-size: clamp(1rem,1.5vw,1.75rem);
}

/* Padding */

.p-2-5{
    padding: 2.5rem;
}

.p-4rem{
    padding: 4rem;
}

@media(max-width: 520px){
    .p-2-5{
        padding: 2rem;
    }

    .p-4rem{
        padding: 3.5rem;
    }
}

@media(max-width:500px){
  .padding-btn-upsell{
      padding: 1rem;
  }
}

/* Borders */
.theme-border-radius{
    border-radius: 3.125rem;
}

.theme-border-radius-sm{
    border-radius: 2.1875rem;
}

.border-primary-new{
    border: 2px solid var(--new-primary);
}

.border-primary-new-thick{
    border: 6px solid var(--new-primary);
}

/* Hero */
.hero{
    min-height: calc(100vh - 58px);
    min-height: calc(100svh - 58px);
    background: linear-gradient(var(--new-light), #fff);
}

.hero-background{
    background: linear-gradient(180deg, #2A324B 0.45%, #48BEFF 199.14%);
}

.hero-img img{
    margin-top: -3%;
    max-height: 40vh;
    width: auto;
}

@media(max-height: 650px ){
    .hero-img img{
        margin-top: -2%;
    }
}

/* Backgrounds */
.red-gradient-bg{
    background: linear-gradient(127deg, var(--new-primary) -16.14%, var(--new-primary-dark) 33.43%);
}

.red-dark-bg{
    background-color: var(--new-primary-dark);
}

.blue-dark-bg{
    /* background-color: var(--new-blue-dark); */
    background: linear-gradient(180deg, #2A324B 0.45%, #48BEFF 199.14%);
}

.blue-light-bg{
  background-color: var(--new-blue-dark);
}

.gold-gradient{
  background: linear-gradient(180deg, #2A324B 0.45%, #48BEFF 199.14%);
  color: #fff;
}

.faqs-bg::after{
    content: "";
    position: absolute;
    top: 11%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--new-blue-light);
    border-radius: 3.125rem;
}

@media(max-width:768px){
  .faqs-bg::after{
      top: 0;
  }
}

/* Buttons */

.btn-new{
    font-size: 1rem;
    line-height: 1.5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 5rem;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 10rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary-new {
    cursor: pointer;
    background-color: #FFD814;
    border: none;
    color: #000;
    border: 1px solid #FCD200;
    font-weight: 600;
}

.btn-primary-new:hover{
    background-color: #F7CA00;
    text-decoration: none;
    color: #000;
}


/* Nav Links */
.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.85);
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 33, 37, 41%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler{
    color: rgb(33, 37, 41);
    border: 0;
}

@media(min-width: 768px){
    .nav-link{
        color: rgb(33, 37, 41);
    } 
    .nav-link:hover{
        color: rgba(33, 37, 41, 0.85);
    }
}

.reference-text{
    font-size: 12px;
}

.money-back-badge{
    margin-top: -40%;
}

.arrows-down-position{
    margin-bottom: -6.5rem;
}

@media(max-width:575px){
    .arrows-down-position{
        margin-bottom: -3.5rem;
    }
}

.z-1{
    z-index: 1;
}

.cursor-pointer{
    cursor: pointer;
}

/* Text Red */

.text-red-new{
    color: var(--new-primary);
}

/* Accordion */

.accordion{
    --bs-accordion-bg: #fcfcfd;
    --bs-accordion-active-bg: var(--new-light);
    --bs-accordion-active-color: black;
    --bs-accordion-border-width: 0;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-item:first-of-type,
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 2.1875rem;
    border-top-right-radius: 2.1875rem;
}

.accordion-item:last-of-type,
.accordion-item:last-of-type .accordion-button.collapsed
 {
    border-bottom-right-radius: 2.1875rem;
    border-bottom-left-radius: 2.1875rem;
}

.accordion-button{
    background-color: #edeff4 !important;
}

/* Usps */

.usps-icon-number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid #38415e;
    margin-top: -4.5rem;
    background: var(--new-blue-dark);
}

@media(max-width: 768px){
    .usps-icon-number{
        margin-top: -2.75rem;
    }
}

/* VSL */

.video-section {
    position: relative;
}
  
.video-wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

#video-container{
  border-radius: 30px;
}

#video-container iframe{
  border-radius: 30px;
}

div[id^=backdrop_] {
  display: none !important;
}

.player-wrapper {
  z-index: 1;
  height: 0;
}

.player-wrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 1080px;
}

.stream {
  position: relative;
  z-index: 1;
  padding-bottom: 56.25%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  float: none;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: rgba(42, 50, 75, 0.25) 0px 14px 28px, rgba(42, 50, 75, 0.22) 0px 10px 10px;
}


.video-wrapper .glass {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-position: center;
}

.video-wrapper .playpause, .video-wrapper .play, .video-wrapper .soundbutton {
  background: rgba(0, 48, 73, 0.6);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-position: center;
  visibility: hidden;
  z-index: 3;
  border-radius:30px;
}

.video-wrapper .soundbutton {
  visibility: visible;
}

.video-wrapper .playpause > img, .video-wrapper .play > img, .video-wrapper .soundbutton > img {
  width: 75%;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translateX(-50%);
}

.pw-1-4 .playpause > img, .pw-1-4 .play > img, .pw-1-4 .soundbutton > img,
.pw-1-4-cf .playpause > img, .pw-1-4-cf .play > img, .pw-1-4-cf .soundbutton > img {
  top: 50%;
  transform: translate(-50%, -50%);
}

.video-wrapper video::-webkit-media-text-track-display {
  font-size: 80%;
}

@media (min-width: 1024px) {
  .video-wrapper video::-webkit-media-text-track-display {
    font-size: 140%;
  }
}

.video-wrapper .stream_container {
  position: relative;
}

.video-wrapper .player-wrapper video, .video-wrapper .player-wrapper iframe, .video-wrapper .player-wrapper > div {
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (orientation: landscape) {
  .video-wrapper .player-wrapper {
    padding-bottom: 56.25%;
  }
}


@media (orientation: portrait) {
  .video-wrapper .player-wrapper {
    padding-bottom: 56.25%;
  }
}


@media (max-width: 575px) {
  .video-wrapper {
    border: none;
    box-shadow: none;
  }
}

#video-section {
  min-height: 320px;
}

.thumb img{
  border-radius: 30px;
}

.smartplayer-mobile{
  border-radius: 30px !important;
}

.stream-1-4, .pw-1-4 {
  padding-bottom: 178.218% !important;
  padding-top: 0 !important;
}

.stream-1-4-cf, .pw-1-4-cf {
  padding-bottom: 179.7752808988764% !important;
  padding-top: 0 !important;
}

/* Countdown */

.countdown {
  display: none;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px
}

.countdown > div {
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

.countdown .text{
  font-size: .875rem;
  margin-top: 0.25rem;
}

.countdown div>span {
  padding: 1rem;
  border-radius: 1.5rem;
  background: var(--new-blue-dark);
  display: inline-block;
  width: 80px;
  color: #fff;
}

/* Loading */

.loading {
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  padding-bottom: calc(56.25%);
  text-align: center;
  color: #fff;
  background: var(--new-blue-light);
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  letter-spacing: .5px;
}

.loading-spinner {
  width: 136px;
  height: 136px;
  position: absolute;
  top: 50%;
  margin: -68px auto 0;
  border-color: #fff transparent;
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: 1.5s linear infinite rotate;
  animation: 1.5s linear infinite rotate;
  display: flex!important
}

.loading-text {
  width: 100%;
  height: 100%;
  align-items: center;
  position: absolute;
  display: flex;
  justify-content: center
}

/* SVG SPIN */

.svg-spin {
  animation: 2s linear infinite spin;
  -webkit-animation: 2s linear infinite spin;
  -moz-animation: 2s linear infinite spin;
  -ms-animation: spin 2s linear infinite;
  -o-animation: 2s linear infinite spin;
  transform-origin: center
}

@keyframes rotate {
  0% {
      transform: rotate(0)
  }

  to {
      transform: rotate(1turn)
  }
}

@keyframes spin {
  from {
      transform: rotate(0)
  }

  to {
      transform: rotate(360deg)
  }
}

.exitModal{
  background: rgba(0,0,0,.85);
}

.modal-label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 216, 20, 0.8);
  border:0;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.negative-ml-3rem{
  margin-left: -3rem;
}

/* Full Screen */
.full-screen{
  max-width: 100%;
}

.full-screen .video-wrapper {
  width: 100%;
  padding: 0;
  margin-left: auto !important;
  max-width: 177vh;
}

.full-screen .player-wrapper,
.full-screen .stream {
  padding-top: 0;
  max-height: 100vh;
  position: relative;
  min-height: 0;
}

.full-screen .video-wrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.full-screen .stream {
  border: none;
  box-shadow: none;
  margin: 0;
}

.full-screen #smartplayer{
  border-radius: 0 !important;
  cursor: pointer;
}

.full-screen .vsl-doctor,
.full-screen .vsl-header,
.full-screen .vsl-update{
  display: none;
}

@media(max-width: 991px){
  .vsl-doctor{
    display: none;
  }
}