BODY {

    background-color: var(--background-color);
    color: var(--main-font-color);
    font-size: var(--font-normal);
    font-family: var(--main-font-family);
    display: none;
}

:root {
    --display_ref: block;
}

B,
.bold {
    font-family: bold-font;

    font-weight: bold;
}

.medium {
    font-family: medium-font;
    font-weight: 500;

}

.light {
    font-family: light-font;
    font-weight: 300;
}

.semi-b {
    font-family: semi-bold-font;
    font-weight: 600;
}

.product-img {
    max-height: 240px;
}

H1 {
    font-weight: bold;
    font-size: var(--font-large);
}

H2,
H3,
H4,
H5,
H6,
H7,
H8 {
    font-size: var(--font-medium);
}




h3 {
    font-size: 28px;
}

p {
    font-size: 1.125rem;
}

.vsl-headline {
    font-weight: bold;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    color: white !important;
    fill: white;
    font-family: roboto-bold;
    font-weight: 800;
}

.up_container {
    border: solid 4px white;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.vsl-headline-accent {
    fill: #eefe3c;
}

.yellow-bg {
    border: #e7303f 4px solid;
    border-radius: 10px;
    background-color: #f9f8da;
    border-style: dashed;
    background-size: auto;
}

.blue-bg {
    border: #007953 4px solid;
    border-radius: 10px;
    background-color: #e6f1e2;
    border-style: dashed;
    background-size: auto;
}

.white-bg {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='11' ry='11' stroke='%23333' stroke-width='4' stroke-dasharray='2%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px;
    background-color: #ffffff;
    background-size: auto;
}

.form-blue {
    background: url(../img/form-blue1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

/* .bg-mov{
    background-image: url("./../img/bg-bar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */

/* Footer definitions */
/* Footer Section  */

.footer-top-bg {
    background-image: url("../img/footer-top-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-middle-bg {
    background-image: url("../img/footer-middle-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-bottom-bg {
    background-image: url("../img/footer-bottom-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-wrapper .footer-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
}

.footer-wrapper .footer-menu .footer-menu-links {
    list-style: none;
    display: inline-block;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: bold-font;
}

@media (min-width: 993px) {
    .footer-wrapper {
        background-color: var(--footer-background-color);
        background-size: 100% auto;

    }

    .footer-wrapper .footer-menu .footer-menu-links A {
        text-decoration: none;

    }

    .footer-wrapper .footer-menu .footer-menu-links A:hover {
        text-decoration: none;
        color: var(--footer-hover-color);
    }
}

.footer-menu .footer-menu-links {
    text-align: center;
    padding: 5px;
}

.footer-logo {
    left: -20%;
}

.footer-menu .footer-menu-links a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    font-weight: bold;
    font-family: bold-font;
}

.footer-menu .footer-menu-links a:hover {
    color: #8c9292;
}

.footer-main-section p {
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.1px;
    font-family: light-font;
    font-weight: 300;
}

a.footer-link {
    color: #000000;
    font-size: 14px;
}

.copyright h3 {
    font-size: 16px;
    color: #000000;
}

.bg-text-disclaimer {
    color: #1b1b1b !important;
}

footer #disclaimer .main.container>div {
    background-color: transparent !important;
    box-shadow: none !important;
}

footer p {
    font-size: 0.875rem;
}

/* headline */
.headline {
    color: var(--headline-color);
}

.green-bg-row {
    background-color: #224f34;
}

.green-bg-2 {
    background-color: #e6f1e2;
}

.grey-bg-row {
    background-color: #f5f5f5;
}

.text-yellow {
    color: #eefe3c;
}

.text-green {
    color: #007953;
}

.text-blue {
    color: #0040eb;
}

.text-red {
    color: #e7303f;
}


/* Video page background */


.vsl-bg {
    background-image: radial-gradient(circle at 50% 51%, #90af9b, #76a686 57%, #76a686 62%), radial-gradient(circle at 53% 49%, #029d6d, #007953 71%, #007953 79%);
}




/* player container styling */
.videobox {
    font-size: var(--font-medium);
    display: block;
}


@keyframes vslPulseButtonDesktop {
    from {
        background-size: 40% auto;
    }

    to {
        background-size: 42% auto;
    }
}


@keyframes vslPulseButtonMobi {
    from {
        background-size: 70% auto;
    }

    to {
        background-size: 72% auto;
    }
}

.up_container a.soundButton {
    animation: vslPulseButtonMobi 1s linear infinite alternate;
    background-image: url(../img/play-video-round.png);
    opacity: 0.9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70% auto;
}

.up_container div.playpause {
    animation: vslPulseButtonMobi 1s linear infinite alternate;
    background-image: url(../img/resume-video-round.png);
    opacity: 0.9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70% auto;
}

@media (min-width: 993px) {
    .up_container a.soundButton {
        animation: vslPulseButtonDesktop 1s linear infinite alternate;
        background-size: 40% auto;
    }

    .up_container div.playpause {
        animation: vslPulseButtonDesktop 1s linear infinite alternate;
        background-size: 40% auto;
    }

    .col-lg-4.col-lg-4-small {
        -ms-flex: 0 0 32.31%;
        flex: 0 0 32.31%;
        max-width: 32.31%;
    }

    .info-desc {
        height: 325px !important;
    }
}

/* pricebox container styling */

.middle {
    border: #007953 3px solid;
    border-radius: 20px;
    background-color: #f9f8da;
    margin-top: -20px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.42);

}

.middle:hover {
    transform: scale(1.02);
    z-index: 4;
    position: relative;
}

.left {
    border: #c1c4ca 3px solid;
    border-radius: 20px;
    background-color: #ffffff;
}

.left:hover {
    transform: scale(1.02);
    z-index: 4;
    position: relative;
}

.right {
    border: #c1c4ca 3px solid;
    border-radius: 20px;
    background-color: #ffffff;
}

.right:hover {
    transform: scale(1.02);
    z-index: 4;
    position: relative;
}




.pricebox .price-box {

    transition: transform .3s;



}

.pricebox .price-box:hover {
    transform: scale(1.03);
}

.pricebox .price_header {
    font-size: 35px;
    color: white;
    border-radius: 16px;
}

.pricebox .price {
    padding: 2px;
    font-size: 55px;
    line-height: 63px;
    font-weight: bold;
}

.pricebox .per_bottle {
    padding: 2px;
    font-size: 31px;
    font-weight: bold;
    line-height: 29px;
}





.pricebox .price_bottle {
    color: #272727;
}


.pricebox .price-box S {
    color: #272727;
    font-weight: normal;
}

.pricebox-bottle-nr {
    font-size: 18px;
}

.pricebox-day-supply-nr {
    font-size: 12px;
}

.pricebox-m-product-img1 {
    max-height: 85px;
}

.pricebox-m-product-img3 {
    max-height: 90px;
}

.pricebox-m-product-img6 {
    max-height: 100%;
}

.pricebox-total-price {
    font-size: 16px;
}

.pricebox-shipping-info {
    font-size: 16px;
}

.center.card-section {
    position: relative;
    top: -17px;
}

@media (min-width: 375px) {
    .pricebox-m-product-img1 {
        max-height: 100px;
    }

    .pricebox-m-product-img3 {
        max-height: 108px;
    }

    .pricebox-bottle-nr {
        font-size: 21px;
    }

    .pricebox-day-supply-nr {
        font-size: 15px;
    }
}

.pricebox-product-img1 {
    max-height: 176px;
}

.pricebox-product-img3 {
    max-height: 185px
}

.pricebox-product-img6 {
    max-height: 190px;
}

@media (min-width: 1200px) {
    .pricebox-product-img1 {
        max-height: 230px;
        top: 5px;
        position: relative;
    }

    .pricebox-product-img3 {
        max-height: 245px;
        top: -3px;
        position: relative;
    }

    .pricebox-product-img6 {
        max-height: 247px;
    }
}

@media (min-width: 512px) {
    .pricebox-m-product-img1 {
        max-height: 140px;
    }

    .pricebox-m-product-img3 {
        max-height: 160px;
    }
}

@media (min-width: 767px) {
    .pricebox-m-product-img1 {
        max-height: 180px;
    }

    .pricebox-m-product-img3 {
        max-height: 220px;
    }

    .pricebox-m-product-img6 {
        max-height: 100%;
    }
}

@media (min-width: 992px) {
    .order-now-button {
        margin-top: 0;
        left: 0;
    }

    .pricebox-bottle-nr {
        font-size: 40px;
    }

    .pricebox-day-supply-nr {
        font-size: 22px;
    }

    .pricebox-price-img6 {
        max-width: 264px;
    }

    .pricebox-price-img1,
    .pricebox-price-img3 {
        max-width: 251px;
    }

    .pricebox-price-img3 {
        position: relative;
        margin-top: -8px;
    }

    .pricebox-free-bonus-img {
        max-width: 244px;
    }

    .buy-button6 {
        max-width: 307px;
        width: 90%;
    }

    .buy-button1,
    .buy-button3 {
        max-width: 307px;
        width: 90%;
    }

    .credit-cards {
        max-width: 256px;
    }

    .pricebox-total-price {
        font-size: 26px;
    }

    .pricebox .price_product_box {
        height: 180px;
        max-height: 230px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .center.card-section {
        position: relative;
        top: 0;
    }
}

@media (min-width: 1200px) {
    .pricebox .price_product_box {
        height: 230px;
    }

    .buy-button6 {
        max-width: 307px;
        width: 100%;
    }

    .buy-button1,
    .buy-button3 {
        max-width: 307px;
        width: 100%;
    }
}


/*  Exit popup */
.mypop {
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: RGBA(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.mypop A {
    text-decoration: none;
    color: var(--main-font-color);
}

.mypop .videorow .col {
    padding: 40px;
}

.mypop .mypop_inner {
    position: relative;
    border-radius: 45px;
    border: solid 3px white;
    width: 900px;
    height: 650px;
    margin: auto;
    background: linear-gradient(0deg, rgba(255, 254, 255, 1) 0%, rgba(215, 255, 254, 1) 100%);
}

.mypop .close_buton {
    display: flex;
    z-index: 5;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
    border: solid 2px white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.mypop .close_buton A {
    color: black;
}

/* misc */

.main-cta {
    display: none;
}

.cta-bg-countdown {
    background-color: #007953;
}

.countdown-time {
    color: #eefe3c;
    font-size: 54px;
}

.atf_wrapper {
    max-height: 100vh;
    width: 100%;
    max-width: calc(100vh * 1.30);
    margin: auto;
    display: block;
    --overflow: hidden;
    --max-headline: 8vh;
}

.atf_wrapper .headline SVG {
    width: 100%;
    --max-height: 8vh;
}

.references.clickable .reference-link {
    pointer-events: auto;

}

.reference-link {
    overflow-wrap: break-word;
    text-decoration: none;
    pointer-events: var(--references-clickable);
    color: var(--main-font-color);
}

.reference-link:hover {
    text-decoration: none;
    color: var(--accent-color-light);
}

[filter] {
    display: none;
}


/* TSL */
* {

    scroll-behavior: smooth;

}




.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: inherit;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.menu>li a {
    color: #fff;
    font-size: 19px;

}

.menu>li a:hover {
    text-decoration: none;
}

@media (max-width: 992px) {
    .menu-button-container {
        display: flex;
        position: fixed;
        right: 4%;
        background: #007953;
        width: 44px;
        height: 44px;
        border-radius: 10px;
        z-index: 999999999;
    }

    .menu {
        position: fixed;
        z-index: 99999999;
        top: 0;
        margin-top: 0px !important;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        align-items: center;
        z-index: 9999;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #007953;
        height: 3.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li a {
        color: #fff;
        text-align: left;
        font-size: 19px;
    }

    .menu>li {
        display: flex;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #007953;
    }

    .menu>li a {
        padding-left: 5px;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #007953;
    }

}

@media (max-width: 860px) {
    .menu {
        margin-top: 90px;
    }
}

@media (max-width: 481px) {
    .menu {
        margin-top: 80px;
    }
}




h1 {
    font-size: 32px;
}

h1.small-title {
    font-size: 23px;
}

h2 {
    font-size: 29px;
}

h2.smaller {
    font-size: 20px;
}

h4.small-title {
    font-size: 20px;
}

p {
    font-size: 20px;
}

p.bigger {
    font-size: 24px;
}

p.smaller {
    font-size: 18px;
}

p.smaller2 {
    font-size: 17px;
}

.triangle-check li {
    background: url(../img/checkmark2.png) no-repeat left 0px top 3px;
    padding: 6px 0px 0px 35px;
    list-style: none;
    margin: 0;
    vertical-align: middle;
    background-size: 30px 30px;
}

.medium-font {
    font-weight: 500;
}

.dark-green-bg {
    background-color: #007953;
}

.dark-green-bg-round {
    background-color: #007953;
    border-radius: 5px;

}

.light-green-bg {
    background-image: radial-gradient(circle at 50% 30%, #d0e1d6, #90af9b 25%, #76a686 56%, #76a686 62%);

}

.accent-yellow {
    color: #eefe3c;
}

.accent-red {
    color: #d54545;
    font-size: 22px;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 19px;
    padding-left: 20px;
}

.hamburger-menu {
    position: relative;
    right: 0;
}

.order-now-button {
    max-width: 155px;
    height: 52px;
    transition: .5s;
    margin-top: -10px;
    position: relative;
    left: -10px;
}

.order-now-button:hover {
    transform: scale(1.05);
}

.doctor-img {
    max-height: 345px;
}

.strawberry-bg {
    background-image: url(../img/strawberry-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mint-bg {
    background-image: url(../img/mint-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
}

.white-bg-rounded {
    border-radius: 10px;
    background-color: #fff;
}

.probiotic-img {
    max-height: 210px;
}

.checkmark {
    height: 29px;
    width: 29px;
    position: relative;
    top: -2px;
}

.blend-bg {
    border-radius: 10px;
    background-color: #e6f1e2;
}

.blend-bg .checkmark {
    left: -5px;
}

.checkmark-bigger {
    height: 50px;
    width: 50px;
    position: relative;
    top: -4px;
}

.bonus-bg {
    background-image: radial-gradient(circle at 30% 54%, #d0e1d6, #90af9b 18%, #76a686 53%, #76a686 59%);
}

.bonus-green-border {
    border-radius: 10px;
    border: solid 5px #007953;
}

.shipping-badge {
    max-height: 218px;
}

.testimonial-face {
    max-height: 90px;
}

.testimonial-stars {
    max-width: 136px;
    position: relative;
    top: -3px;
}

.triangle-grey-ctr {
    position: relative;
}

.triangle-grey-ctr:after,
.triangle-grey-ctr:before {
    content: " ";
    display: block;
    background-color: red;
    width: 49px;
    height: 49px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.triangle-grey-ctr:after {
    background-color: #f8f8f8;
}

.triangle-grey-ctr:before {
    background-color: #edeaea;
}

.triangle-grey-ctr.tg:before {
    background-color: #007953;
}

.triangle-grey-ctr.tg:after {
    background-color: #007953;
}

.triangle-grey-ctr:after {
    top: -1px;
}

.strawberry-bg2 {
    background-image: url(../img/strawberry-bg2.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.guarantee-img {
    max-height: 204px;
}

.badges-bg {
    background-color: #224f34;
}

.ref-bg {
    display: var(--display_ref);
    background-color: #f0f0f0;
}

ol.tsl-ref li {
    font-size: 14px;
    color: #272727;
    padding-bottom: 8px;
    text-align: justify;
    word-break: break-all;
}

@media (min-width: 993px) {
    h1 {
        font-size: 40px;
    }

    h1.small-title {
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    h2.smaller {
        font-size: 34px;
    }

    h2.reth2 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }

    h3.smaller {
        font-size: 29px;
    }

    h4 {
        font-size: 25px;
    }

    h4.small-title {
        font-size: 25px;
    }

    .col-lg-6.col-lg-6-small {
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 48%;
    }

    .light-green-bg {
        background-image: radial-gradient(circle at 27% 50%, #d0e1d6, #90af9b 18%, #76a686 56%, #76a686 62%);

    }

    .mint-bg {
        background-size: cover;
    }

    .darkbg-position {
        left: -20px;
        position: relative;
    }


}

@media (min-width: 0) and (max-width: 1023px) {

    .triangle-grey-ctr:after,
    .triangle-grey-ctr:before {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1024px) {
    .triangle-grey-ctr:before {
        width: 50px;
        height: 50px;
    }

    .navbar-nav {
        position: absolute;
        right: 0;
    }
}

@media (min-width: 992px) {
    .order-now-button {
        margin-top: 0;
        left: 0;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1200px;
    }

    .container-md {
        max-width: 1140px;
    }

    .container-sm {
        max-width: 1040px;
    }
}

.orderreel {
    z-index: 100;
    opacity: 0.9;
    transform: scale(0.45);
    transition: transform 0.5s, left 0.5s;
    display: flex;
    font-family: Arial;
    position: fixed;
    bottom: 5px;
    left: -15px;
    background-color: white;
    border: solid 4px #227dc2;
    border-radius: 50px;
    background: white;
}

.orderreel .message {
    size: 0.2rem;
    transition: width 1s;
    width: 0px;
    height: 0px;
    width: 0px;
    opacity: 0;
    text-align: center;
    display: inline-block;
}

.orderreel .message .msg {
    margin-right: 20px;
    margin-top: 4px;
}

.upsell_buy_btn {
    transition: .7s;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold !important;
    font-family: bold-font !important;
    --btn-color: #003FE2;
    border-radius: 10px;
    border: solid 3px var(--btn-color);
    background-color: #FFE24F;
    color: var(--btn-color);
    font-size: 19px;
    text-decoration: none !important;
    text-align: center;
    letter-spacing: 0px;
    line-height: 1.09;
    padding: 13px 3px;
    max-width: 88%;
}

.upsell_buy_btn:hover {
    transform: scale(1.015);
    transition: .7s;
}

@media (min-width: 375px) {
    .upsell_buy_btn {
        font-size: 22px;
        max-width: 320px;
    }
}

@media (min-width: 767px) {
    .upsell_buy_btn {
        max-width: 100%;
        position: relative;
        padding: 15px 20px 18px 20px;
    }
}

@media (min-width: 993px) {
    .upsell_buy_btn {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        padding: 15px 20px 18px 20px;
        border: solid 3.7px var(--btn-color);
    }
}

@media (min-width: 1200px) {
    .upsell_buy_btn {
        font-size: 43px;
    }
}

DIV.buy-container .action-btn {
    background: linear-gradient(360deg, rgba(226, 190, 0, 1) 0%, rgba(255, 228, 86, 1) 100%);
}


DIV.vsl_timer article {

    width: auto;
    text-align: center;
    border-radius: 10px;
    margin: 0px auto 8px;
    padding: 5px;
    overflow: hidden;
    box-shadow: none;
    background-color: #f0f8ff00;
}

DIV.vsl_timer article h2 {

    font-weight: bold;
    line-height: 1.4;
    padding: 15px;
    padding-bottom: 0;
    color: #fff;
}

DIV.vsl_timer article #timer {
    background-color: #f0f8ff00;
    font-size: 54px;
    color: #EEFE3C;
}

.order-support-table {
    border: 2px solid #dee2e6
}

.order-support-table tr:nth-child(2n) {
    background: #f5f5f5;
}

.order-support-table tr td:nth-last-of-type(2) {
    width: 45%;
    padding-top: 10px;
}

.order-support-table td {
    padding: 10px;
}

.support-table-img {
    max-width: 35px;
}

.triangle2-grey-ctr {
    position: relative;
}

.triangle2-grey-ctr:after,
.triangle2-grey-ctr:before {
    content: " ";
    display: block;
    background-color: red;
    width: 49px;
    height: 49px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1000;
}

.triangle2-grey-ctr.tg:before {
    background-color: #272727;
}

.triangle2-grey-ctr.tg:after {
    background-color: #272727;
}